/*fonts*/
$headerFont: 'Rajdhani', sans-serif;
$menuFont: 'Alice', serif;
$mainFont: 'Exo 2', sans-serif;



/*colors*/
$headerColor: #404040; 
$mainColor: #2b2b2b;
$footerColor: #f5f5f5;
$accentColor: darkred;

/*background-colors*/
$bgSiteColor: #f4f4f4;
$bgFooterColor: #4d4d4d;