@import url("https://fonts.googleapis.com/css?family=Alice|Exo+2:100,200,300,400,500,600,700,800,900|Rajdhani:300,400,500,600,700&display=swap&subset=cyrillic");
/* Reset default styles */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, date {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*fonts*/
/*colors*/
/*background-colors*/
/* Start user styles */
/* GENERAL */
html {
  font-size: 16px;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr minmax(70px, auto);
      grid-template-rows: 1fr minmax(70px, auto);
  background-color: #f4f4f4;
  font-family: "Exo 2", sans-serif;
}

body.with-header-static {
  -ms-grid-rows: minmax(20px, auto) 1fr minmax(70px, auto);
      grid-template-rows: minmax(20px, auto) 1fr minmax(70px, auto);
}

.container {
  margin: 0 auto;
  width: 1200px;
}

a {
  color: inherit;
}

a:hover {
  color: darkred;
}

a:active {
  color: #000;
}

header {
  width: 100vw;
  padding: 20px 0;
  color: #2b2b2b;
  background-color: #f4f4f4;
}

header:not(.static-header) {
  position: fixed;
}

header .header-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto minmax(auto, 50px);
      grid-template-columns: auto minmax(auto, 50px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-wrapper .logo {
  text-transform: uppercase;
  font-family: "Rajdhani", sans-serif;
}

header .header-wrapper .logo::first-letter {
  color: darkred;
}

header .header-wrapper .logo .upper-logo {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 4.1px;
}

header .header-wrapper .logo .bottom-logo {
  font-weight: 300;
  font-size: 1rem;
  color: darkred;
}

header .header-wrapper button {
  width: 30px;
  height: 10px;
  background-color: transparent;
  outline: none;
  border: none;
  border-top: 1px solid #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
  cursor: pointer;
}

header .header-wrapper button:hover {
  border-color: darkred;
}

header .header-wrapper button:active {
  border-color: #000;
}

footer {
  font-weight: 200;
  font-size: .8rem;
  color: #f5f5f5;
  background-color: #4d4d4d;
}

footer .footer-wrapper {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 30px 10px;
      grid-template-areas: "main         edu        tel" "portfolio   career      mail" "techs        cv         git" "hr            .         insta";
}

footer .footer-wrapper .f-index {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: main;
}

footer .footer-wrapper .f-portfolio {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: portfolio;
}

footer .footer-wrapper .f-techs {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: techs;
}

footer .footer-wrapper .f-hr {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: hr;
}

footer .footer-wrapper .f-edu {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: edu;
}

footer .footer-wrapper .f-career {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: career;
}

footer .footer-wrapper .f-cv {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: cv;
}

footer .footer-wrapper .f-tel {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: tel;
}

footer .footer-wrapper .f-mail {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: mail;
}

footer .footer-wrapper .f-git {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: git;
}

footer .footer-wrapper .f-insta {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: insta;
}

footer .footer-wrapper a {
  color: #f5f5f5;
}

footer .footer-wrapper a:hover {
  color: #8f8f8f;
}

footer .footer-wrapper a:active {
  color: #000;
}

.mainmenu-wrapper {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 100;
  background-color: rgba(133, 134, 135, 0.95);
  color: #f5f5f5;
}

.mainmenu-wrapper a {
  color: inherit;
}

.mainmenu-wrapper a:hover {
  color: darkred;
}

.mainmenu-wrapper a:active {
  color: #000;
}

.mainmenu-wrapper .close-btn {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 30px;
  right: 40px;
  z-index: 101;
  border: none;
  background: transparent url(../../img/close.png) no-repeat 0 0;
  background-size: 100%;
  cursor: pointer;
}

.mainmenu-wrapper .close-btn:hover {
  background-image: url(../../img/closeRed.png);
}

.mainmenu-wrapper .mainmenu-inner-wrapper {
  width: 80vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-auto-rows: minmax(100px, auto);
}

.mainmenu-wrapper .main-menu {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  font-family: "Alice", serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-right: 2px solid #f5f5f5;
}

.mainmenu-wrapper .main-menu li {
  margin-bottom: 30px;
}

.mainmenu-wrapper .contacts {
  padding: 5px 0 30px 40px;
  font-family: "Exo 2", sans-serif;
  border-bottom: 2px solid #f5f5f5;
}

.mainmenu-wrapper .contacts li {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #c2c2c2;
}

.mainmenu-wrapper .contacts a {
  color: #f5f5f5;
  font-size: 1.2rem;
  font-weight: 300;
}

.mainmenu-wrapper .contacts a:hover {
  color: darkred;
}

.mainmenu-wrapper .contacts a:active {
  color: #000;
}

.mainmenu-wrapper .recomendations {
  padding: 20px;
  font-family: "Exo 2", sans-serif;
  font-size: 1rem;
}

.mainmenu-wrapper .recomendations h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.mainmenu-wrapper .recomendations section {
  padding-left: 20px;
}

.mainmenu-wrapper .recomendations section:not(:last-child) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #f5f5f5;
}

.mainmenu-wrapper .recomendations h3 {
  margin-bottom: 10px;
  color: #bfbfbf;
}

.mainmenu-wrapper .recomendations p {
  margin-bottom: 5px;
  font-size: .9rem;
  font-weight: 300;
}

.mainmenu-wrapper .bottom {
  position: fixed;
  z-index: 101;
  left: 0;
  bottom: 10px;
  width: 100vw;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-size: .7rem;
  font-weight: 200;
}

main:not(.main-with-static-header) {
  margin-top: 88px;
}

main .main-wrapper {
  padding: 50px 0;
  color: #2b2b2b;
}

main .main-wrapper h2 {
  font-family: "Alice", serif;
  font-size: 1.5rem;
  letter-spacing: 4px;
  text-transform: uppercase;
}

main .main-wrapper h2::first-letter {
  color: darkred;
}

main .main-wrapper p {
  font-family: "Exo 2", sans-serif;
  font-weight: 200;
  line-height: 1.2;
}

main .main-wrapper a {
  color: inherit;
}

main .main-wrapper a:hover {
  color: darkred;
}

main .main-wrapper a:active {
  color: #000;
}

a {
  -webkit-transition: color, .5s;
  transition: color, .5s;
}

/* index.html */
main .index-main-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(50px, auto);
  -ms-grid-columns: 2fr 1fr;
      grid-template: minmax(50px, auto)/2fr 1fr;
  grid-gap: 10px;
}

main .main-wrapper .about-me h2 {
  margin-bottom: 40px;
}

main .main-wrapper .about-me img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

main .main-wrapper .about-me p {
  text-align: justify;
  text-indent: 20px;
}

main .main-wrapper .about-me p:first-of-type {
  padding-top: 40px;
}

main .main-wrapper .about-me a.text-link {
  text-decoration: underline;
  color: inherit;
}

main .main-wrapper .about-me a.text-link:hover {
  color: darkred;
}

main .main-wrapper .about-me a.text-link:active {
  color: #000;
}

main .main-wrapper .block-menu-wrapper {
  margin-top: 100px;
}

main .main-wrapper .block-menu-wrapper p {
  color: #999;
}

main .main-wrapper .block-menu-wrapper .block-menu-item {
  margin-bottom: 30px;
}

main .main-wrapper .block-menu-wrapper .block-menu-item h2 {
  margin-bottom: 5px;
}

main .main-wrapper .block-menu-wrapper .block-menu-item p {
  padding-left: 25%;
}

/* portfolio.html */
.portfolio-main-wrapper {
  display: block;
}

.portfolio-main-wrapper .portfolio-section {
  padding: 50px 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 50px 1fr / 1fr 1fr;
}

.portfolio-main-wrapper .portfolio-section:not(:last-child) {
  border-bottom: 1px solid #999;
}

.portfolio-main-wrapper .portfolio-section .image-link {
  display: block;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.portfolio-main-wrapper .portfolio-section .image-link .portfolio-item-img {
  display: block;
  width: 100%;
  border: 1px solid #999;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 10px -17px #999;
          box-shadow: 0 20px 10px -17px #999;
  -webkit-transition: -webkit-filter .3s;
  transition: -webkit-filter .3s;
  transition: filter .3s;
  transition: filter .3s, -webkit-filter .3s;
}

.portfolio-main-wrapper .portfolio-section .image-link .portfolio-item-img:hover {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.portfolio-main-wrapper .portfolio-section .portfolio-header {
  margin-left: 30px;
}

.portfolio-main-wrapper .portfolio-section .portfolio-header::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: super;
  background: transparent url(../../img/link.png) no-repeat 0 0;
  background-size: 100%;
}

.portfolio-main-wrapper .portfolio-section .description-wrapper {
  grid-row: 2 / -1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  margin-top: 30px;
  margin-left: 30px;
  font-family: "Exo 2", sans-serif;
}

.portfolio-main-wrapper .portfolio-section .description-wrapper .portfolio-description {
  margin-bottom: 70px;
}

.portfolio-main-wrapper .portfolio-section .description-wrapper .links-container {
  margin-bottom: 70px;
  color: darkred;
}

.portfolio-main-wrapper .portfolio-section .description-wrapper .links-container::after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  vertical-align: super;
  background: transparent url(../../img/link.png) no-repeat 0 0;
  background-size: 100%;
}

.portfolio-main-wrapper .portfolio-section .description-wrapper .tags-container {
  color: #999;
  font-weight: 100;
  font-size: 1rem;
}

.portfolio-main-wrapper .portfolio-section .description-wrapper .tags-container span {
  border: 1px dotted #999;
  border-radius: .5rem;
  padding: 0 10px;
}

/* career.html */
.shadow {
  position: fixed;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.career-main-wrapper .chronograph {
  position: fixed;
  left: 0;
  top: 0;
  font-size: 7rem;
  z-index: 8;
  color: #999;
  -webkit-transform: rotate(-90deg) translateY(100px) translateX(-800px);
          transform: rotate(-90deg) translateY(100px) translateX(-800px);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.career-main-wrapper h2 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.carrer-main-inner-wrapper {
  width: 800px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #999;
  font-weight: 300;
}

.carrer-main-inner-wrapper .career-item-wrapper {
  padding-top: 30px;
  width: 50%;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.carrer-main-inner-wrapper .career-item-wrapper:nth-child(4n+2), .carrer-main-inner-wrapper .career-item-wrapper:nth-child(4n+3) {
  border-bottom: 1px solid #999;
}

.carrer-main-inner-wrapper .career-item-wrapper:nth-child(4n+2) {
  padding-left: 40px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-left: 4px solid #999;
}

.carrer-main-inner-wrapper .career-item-wrapper:nth-child(4n+2) .career-item-date {
  margin-left: -20px;
  color: darkred;
  font-size: .8rem;
}

.carrer-main-inner-wrapper .career-item-wrapper:nth-child(4n+3) {
  padding-right: 40px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-right: 4px solid #999;
  margin-right: -8px;
}

.carrer-main-inner-wrapper .career-item-wrapper:nth-child(4n+3) .career-item-date {
  margin-right: -20px;
  color: darkred;
  font-size: .8rem;
}

.carrer-main-inner-wrapper .career-item-wrapper:nth-last-child(-n+2) {
  border-bottom: none;
}

.carrer-main-inner-wrapper .career-item-wrapper .career-item {
  border: 3px solid #fff;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 10px;
  width: 100%;
  -webkit-box-shadow: 0 2px 2px 0 #999;
          box-shadow: 0 2px 2px 0 #999;
  background-color: #f5f5f5;
  -webkit-transition: -webkit-filter .3s;
  transition: -webkit-filter .3s;
  transition: filter .3s;
  transition: filter .3s, -webkit-filter .3s;
}

.carrer-main-inner-wrapper .career-item-wrapper .career-item:hover {
  -webkit-filter: brightness(0.95);
          filter: brightness(0.95);
}

.carrer-main-inner-wrapper .career-item-wrapper .career-item span {
  color: #2b2b2b;
}

.carrer-main-inner-wrapper .career-item-wrapper .career-item a {
  text-decoration: underline;
}

.carrer-main-inner-wrapper .career-item-wrapper .career-item .company-name {
  margin-bottom: 10px;
}

.carrer-main-inner-wrapper .career-item-wrapper .career-item .company-name:not(.nolink)::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  vertical-align: super;
  background: transparent url(../../img/link.png) no-repeat 0 0;
  background-size: 100%;
}

.carrer-main-inner-wrapper .career-item-wrapper .career-item .career-item-tasks {
  margin-bottom: 10px;
}

.carrer-main-inner-wrapper .career-item-wrapper .career-item .position {
  margin-bottom: 30px;
}

.carrer-main-inner-wrapper .career-item-wrapper .career-item .more-info-career {
  display: block;
  margin: 0 auto;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: #858687;
  color: #f5f5f5;
  -webkit-box-shadow: 0 1px 2px 0 #999;
          box-shadow: 0 1px 2px 0 #999;
  font-size: .8rem;
  cursor: pointer;
}

.carrer-main-inner-wrapper .career-item-wrapper .career-item .more-info-career:hover {
  background-color: darkred;
}

.carrer-main-inner-wrapper .career-item-wrapper .career-item .more-info-career:active {
  background-color: #000;
}

.carrer-main-inner-wrapper .career-item-wrapper .career-item .career-info {
  position: fixed;
  z-index: 10;
  top: 100px;
  left: calc(50% - 400px);
  width: 800px;
  height: 60vh;
  border-radius: 20px;
  padding: 30px;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0 5px 10px 0 #999;
          box-shadow: 0 5px 10px 0 #999;
  overflow: scroll;
}

.carrer-main-inner-wrapper .career-item-wrapper .career-item .career-info .close-modal-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 15px;
  height: 15px;
  outline: none;
  border: none;
  background: transparent url(../../img/closeRed.png) no-repeat 0 0;
  background-size: 75%;
  cursor: pointer;
}

.carrer-main-inner-wrapper .career-item-wrapper .career-item .career-info .company-name:not(.nolink)::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  vertical-align: super;
  background: transparent url(../../img/link.png) no-repeat 0 0;
  background-size: 100%;
}

.carrer-main-inner-wrapper .career-item-wrapper .career-item .career-info .department {
  margin-bottom: 10px;
}

.carrer-main-inner-wrapper .career-item-wrapper .career-item .career-info h3 {
  text-align: center;
  margin: 30px auto 20px auto;
  font-size: 1.1rem;
  font-weight: 200;
}

.carrer-main-inner-wrapper .career-item-wrapper .career-item .career-info li {
  font-weight: 200;
  color: #2b2b2b;
  margin-bottom: 5px;
  list-style-type: circle;
}

.unvisible {
  visibility: hidden;
}

.hidden {
  display: none;
}

.freezed {
  overflow: hidden;
}

.to-right {
  text-align: right;
}
/*# sourceMappingURL=main.css.map */